body {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container {
    background-color: #e9f6f0;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 1em 3em;
    height: 90vh;
    min-width: 500px;
    max-height: 700px; 
    background-color: #c5e8d8;
}

.flex-wrapper > * {
    margin-bottom: .25em;
    width: 50%;
}

.description {
    width: 75%;
    margin-top: 2em;
    text-align: justify;
}
.input-wrapper {
    display: flex;
    /* border: 1px solid black; */
    margin-left: 2.5em;
}

.money-sign {
    width: 10%;
}

.cash {
    margin-bottom: 1em;
}

.cash, .cash-drawer {
    width: 90%;
}

.header {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: -1em 0 1em 0;
}

.submit-button {
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    background-color: #e9f6f0;
}

.submit-button:hover {
    background-color: #bcdbcd;
    color: white;
}

.label {
    margin-left: 1em;
}

input {
    max-width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #e9f6f0;
}

.result {
    margin: 1em;
}
